.schedule{
  font-family: "Source Serif Pro", "Times New Roman", serif;
}
.schedule-container{
  font-size: 20px;
  display: flex;
  flex-direction: column;
}
.schedule-container hr{
  width: 100%;
  margin-top: 30px;
}

.schedule-container thead th{
  border-bottom: 1px solid black;
  border-left: 1px solid black;
  border-right: 1px solid black;
  padding: 10px;
}

.schedule-container td{
  border-bottom: 1px solid black;
  padding: 10px;
  text-align: center;
}
.schedule__input-checkbox{
  transform: scale(1.5);

}
.schedule-container input{
  cursor: pointer;
}
.schedule__conflict-list{
  display: flex;
  flex-direction: column;
  font-size: 20px;
}