.field__title {
  margin: 20px 0 5px 0;
  font-family: "Inter", "Arial", system-ui;
  font-size: 140%;
}

.edit-info-title {
  font-family: "Source Serif Pro", "Times New Roman", serif;
  font-size: 20px;
}

.field__entering-area {
  resize: none;
  width: 40vh;
  font-family: "Inter", "Arial", system-ui;
  height: 3vh;
  font-size: 110%;
  align-content: center;
  box-shadow: 0 8px 16.5px 1px rgba(0, 0, 0, 0.50);
  border: none;
  border-bottom: 1px black solid;
  border-radius: 3px;
}

.field__container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: max-content;
}

.procedure-item__name,
.pet-card-admin__name,
.pet-card-admin__breed,
.pet-card-admin__birthday {
  font-family: "Source Serif Pro", "Times New Roman", serif;
  font-size: 20px;
}

.pet-card-admin__name-title,
.pet-card-admin__breed-title,
.pet-card-admin__birthday-title,
.pet-card-admin__owner,
.procedure-item__name-title{
  font-family: "Source Serif Pro", "Times New Roman", serif;
  font-size: 20px;
  margin-top: 10px;
}

.pet-card-admin__owner,
.pet-card-admin__species {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.procedure-item__name-title {
  margin-top: 0;
}

.users-editing__field,
.users-editing__field-title,
.users-adding__field-title,
.users-adding__field,
.appointment__date-field,
.appointment__procedure-field__title{
  font-family: "Source Serif Pro", "Times New Roman", serif;
  font-size: 20px;
}