.header__logo {
  height: 100px;
}

.header__name {
  margin: 0 20px;
  justify-self: flex-start;
}

.sign-in__logo, .sign-up__logo{
  height: 300px;
}
.sign-in__name, .sign-up__name{
  height: 100px;
  margin: 20px 0;
}