.selector label{
  font-size: 20px;
  margin-right: 10px;
}
.selector{
  font-family: "Source Serif Pro", "Times New Roman", serif;
  margin: 20px 0 0 0;
  font-size: 20px;
}

.selector option, .selector select{
  font-size: 20px;
}

.procedure-item__species label{
  font-family: "Source Serif Pro", "Times New Roman", serif;
  margin-right: 20px;
  font-size: 20px;
}

.procedure-item__species select{
  font-family: "Source Serif Pro", "Times New Roman", serif;
  font-size: 20px;
  resize: none;
  align-content: center;
  box-shadow: 0 8px 16.5px 1px rgba(0, 0, 0, 0.50);
  border: none;
  border-bottom: 1px black solid;
  border-radius: 3px;
}

.procedure-item__species{
  margin-top: 20px;
}